<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.adt.views"
            class="com.abapblog.classicOutline.views.View"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="com.abapblog.classicOutline.view"
            inject="false"
            name="Classic Outline"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.abapblog.classicOutline.changelog.ChangeLogView"
            icon="platform:/plugin/org.eclipse.ui.views.log/icons/elcl16/import_log.png"
            id="com.abapblog.classicOutline.changelogview"
            inject="false"
            name="Classic Outline Changelog"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.abapblog.classicOutline.preferences.PreferenceInitilizer">
      </initializer>
   </extension>
   <extension
         point="com.sap.adt.destinations.logonListeners">
      <listener
            class="com.abapblog.classicOutline.views.LogonListenerHandler">
      </listener>
   </extension>
      <extension
         point="com.sap.adt.tools.abapsource.ui.processAfterSourcePageLoaded">
      <class
            name="com.abapblog.classicOutline.views.AbapPageLoadListener">
      </class>
   </extension>
      <extension
         point="com.sap.adt.activation.ui.activationSuccessListener">
      <onActivationSuccess
            class="com.abapblog.classicOutline.views.ActivationSuccessListenerHandler">
      </onActivationSuccess>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="toolbar:com.abapblog.classicOutline.view">
            <command
                  commandId="com.abapblog.classicOutline.RefreshView"
                  icon="platform:/plugin/org.eclipse.ui.browser/icons/clcl16/nav_refresh.png"
                  label="Refresh"
                  style="push">
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RefreshViewHandler"
               id="com.abapblog.classicOutline.RefreshView"
               name="Force tree refresh">
         </command>
         <command
               defaultHandler="com.abapblog.classicOutline.views.commands.RunATC"
               id="com.abapblog.classicOutline.RunATC"
               name="Run ATC">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="com.sap.adt.tools.core.ui.preferencePages.ABAP"
               class="com.abapblog.classicOutline.preferences.PreferencePage"
               id="com.abapblog.classicOutline.preferences.PreferencesPage"
               name="Classic Outline">
         </page>
      </extension>
      <extension
            point="org.eclipse.help.toc">
         <toc
               category="ADT Classic Outline"
               file="toc.xml"
               primary="true">
         </toc>
      </extension>
</plugin>
