<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.sap.adt.views"
            class="com.adtbook.classOutline.views.View"
            icon="platform:/plugin/org.eclipse.ui.views/icons/full/eview16/outline_co.png"
            id="com.adtbook.classOutline.view"
            inject="true"
            name="Class Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.adtbook.classOutline.views.LinkWithEditorHandler"
            description="Link With Editor"
            id="com.adtbook.classOutline.LinkWithEditor"
            name="Link With Editor">
         <state
               class="com.adtbook.classOutline.views.LinkWithEditorState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.adtbook.classOutline.LinkWithEditor"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/synced.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.adtbook.classOutline.view">
         <command
               commandId="com.adtbook.classOutline.LinkWithEditor"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/synced.png"
               label="Link With Editor"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.adtbook.classOutline.preferences.PreferenceInitilizer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ADT Book"
            class="com.adtbook.classOutline.preferences.PreferencePage"
            id="com.adtbook.classOutline.preferencePage"
            name="Class Outline">
      </page>
   </extension>

</plugin>
