<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.adtbook.examples.extpointview.category"
            class="com.adtbook.examples.extpointview.views.View1"
            icon="platform:/plugin/org.eclipse.wst.xsd.ui/org/eclipse/wst/xsd/ui/internal/editor/icons/XSDInclude.gif"
            id="com.adtbook.examples.extpointview.view1"
            inject="true"
            name="View 1 of ExtPointView plugin"
            restorable="true">
         <description>
            This is the first view of the ExtPointView plugin
         </description>
      </view>
      <view
            category="com.adtbook.examples.extpointview.category"
            class="com.adtbook.examples.extpointview.views.View2"
            icon="platform:/plugin/org.eclipse.wst.xsd.ui/icons/XSDFile.gif"
            id="com.adtbook.examples.extpointview.view2"
            inject="true"
            name="View 2 of ExtPointView plugin"
            restorable="true">
         <description>
            This is the second view of the ExtPointView plugin
         </description>
      </view>
      <category
            id="com.adtbook.examples.extpointview.category"
            name="ADT Book ExtPointView">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.adtbook.examples.extpointview.commands.ShowPopupHandler"
            description="Show Popup"
            id="com.adtbook.examples.extpointview.commands.ShowPopup"
            name="Show Popup">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
            icon="platform:/plugin/org.eclipse.wst.xsd.ui/icons/elcl16/showproperties_obj.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.adtbook.examples.extpointview.view1">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sap.adt.feedreader.ui.FeedsView">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.adtbook.examples.ExtPointView.toolbar">
            <command
                  commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
                  label="Show Popup Message"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.adtbook.examples.extpointview.view1">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.sap.adt.feedreader.ui.FeedsView">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="platform:/plugin/org.eclipse.help.ui/icons/obj16/bookmarks_view.png"
               label="ADT Book">
            <command
                  commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
                  label="Show Popup Message"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=intro">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
         <menu
               icon="platform:/plugin/org.eclipse.help.ui/icons/obj16/bookmarks_view.png"
               label="ADT Book">
            <command
                  commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
                  label="Show Popup Message"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.adtbook.examples.extpointview.view1">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="popup:com.sap.adt.feedreader.ui.FeedsView">
         <command
               commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
               label="Show Popup Message"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.adtbook.examples.extpointview.commands.ShowPopup"
            contextId="com.adtbook.examples.extpointview.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+}">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="defaultToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.adtbook.examples.extpointview.preferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.adtbook.examples.extpointview.preferencePage"
            id="com.adtbook.examples.extpointview.preferencePage"
            name="ADT Book ">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.adtbook.examples.extpointview.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.adtbook.examples.extpointview.commands.ShowPopupMenuHandler"
            commandId="com.adtbook.examples.extpointview.commands.ShowPopup">
     <activeWhen>
            <with variable="activePartId">
               <equals value="com.adtbook.examples.extpointview.view1"></equals>
            </with>
        </activeWhen>
      </handler>
   </extension>
</plugin>
